$headerBackgroundColor: #313b46;
$mobile-menu-span: #d6d6d6;

$accentBlue: #3f8dbf;
$borderGrey: #dadada;
$darkWhiteBg: #fbfbfb;

$footer-background-color: #2c2c2c;
$footer-font-color: #cacaca;
$footer-background-copyright: #292929;

$top-section-padding-bottom: 80px;
