.getInTouchWithUs {
  background-image: url(../img/section-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: $top-section-padding-bottom;

  &__flex {
    display: flex;
    margin-top: 30px;

    @include mq-mobile {
      flex-direction: column-reverse;
    }
  }

  &__formBox {
    flex-basis: 65%;

    @include mq-tablet {
      flex-basis: 60%;
    }

    @include mq-mobile {
      text-align: center;
    }
  }

  &__form {
    padding-left: 50px;
    padding-right: 30px;
    width: 100%;

    @include mq-tablet {
      padding-left: 0;
      padding-right: 15px;
    }

    @include mq-mobile {
      margin-top: 25px;
      padding-right: 0;
    }
  }

  &__input {
    background-color: rgba(217, 217, 217, 0.1);
    color: #fff;
    display: block;
    font-size: 14px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-top: 12px;
    width: 100%;

    &:not(:first-of-type) {
      margin-top: 15px;
    }

    @include mq-tablet {
      font-size: 16px;
    }
  }

  &__textarea {
    background-color: rgba(217, 217, 217, 0.1);
    color: #fff;
    display: block;
    font-size: 14px;
    height: 180px;
    margin-top: 15px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-top: 12px;
    width: 100%;

    @include mq-tablet {
      font-size: 16px;
    }
  }

  &__submit {
    background-color: $accentBlue;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-top: 15px;
    padding: 5px 20px;

    &:hover {
      opacity: 0.8;
    }

    @include mq-tablet {
      font-size: 16px;
    }
  }

  &__informationBox {
    flex-basis: 35%;

    @include mq-tablet {
      flex-basis: 40%;
    }
  }

  &__infromationTitle {
    color: #fff;
    font-size: 16px;
  }

  &__infromationDescription {
    font-size: 14px;
    line-height: 1.9;
    margin-top: 10px;
  }

  &__informationTextBox {
    margin-top: 25px;
  }

  &__informationText {
    color: #d9d9d9;
    font-size: 14px;
    padding-left: 20px;
    position: relative;

    &:not(:first-of-type) {
      margin-top: 10px;
    }

    &:before {
      background-image: url(../img/icon-address.png);
      background-size: contain;
      content: "";
      height: 25px;
      left: 0;
      position: absolute;
      top: 4px;
      width: 10px;
    }

    &:nth-of-type(2) {
      &:before {
        background-image: url(../img/icon-phone.png);
        top: 5px;
      }
    }

    &:nth-of-type(3) {
      &:before {
        background-image: url(../img/icon-email.png);
        top: 8px;
      }
    }
  }
}
